* {
    margin: 0;
    padding: 0;
}
    
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    text-align: center;
    background-color: #dddddd;
    color: #3c5e4f;
    padding: 2rem;
}

.spaces {
    margin: 2rem;
}

footer {
    text-align: center;
    background-color: #3c5e4f;
    color: #dddddd;
    padding: 1rem;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 24px;
}

input[type="text"] {
    height: 3rem;
    width: 25rem;
    margin-right: 2rem;
    font-family: Arial, sans-serif;
    padding-left: 1rem;
    font-size: 1rem;
}

button {
    margin-top: 1rem; 
    font-family: Arial, sans-serif;
    background-color: #5a8d73;
    color: #dddddd;
    padding: 1rem 2rem;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
}

button:hover {
    background-color: #3c5e4f;
}

